<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>API_KEY</key>
	<string>AIzaSyCAO4z8AjXNQajXKlsOpP4clvY2EJV2NvA</string>
	<key>GCM_SENDER_ID</key>
	<string>431996487585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keshavbabu.shellhacks.Shellhacks</string>
	<key>PROJECT_ID</key>
	<string>shellhacks-baff9</string>
	<key>STORAGE_BUCKET</key>
	<string>shellhacks-baff9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:431996487585:ios:13a4a581d9f9f3c8a5ede0</string>
</dict>
</plist>
